<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <h2>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="row">
        <div class=" col-md-3">
          <%= f.label :first_name %>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-3">
          <%= f.label :last_name %>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-3">
          <%= f.label :email %>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-3">
          <label>Mobile No.</label>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <%= f.text_field :mobile, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-3">
          <%= f.label :password %>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-3">
          <%= f.label :password_confirmation %>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-3">
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.radio_button :user_type, 'employee' %> Are you Employee?
          </div>
        </div>
        <div class="col-md-4">
          <%= f.radio_button :user_type, 'manager' %> Are you Manager?
        </div>
      </div>
      <div class="row">
        <div class=" col-md-3">
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <%= f.submit "Sign up", class: 'btn btn-success' %>
          </div>
        </div>
        <div class="col-md-6">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3">
  </div>
</div>

