<p>Hello <%= @admin.user_name %>,</p>
<% if @action.eql?("create") %>
  <p><%= @leave.user.user_name %> has applied leave.</p>
<% else %>
  <p>Leave status of <%= @leave.user.user_name %> has been updated successfully.</p>
<% end %>
<table class="table">
  <tbody>
    <%= render partial: 'leave_detail', locals: {leave: @leave} %>
    <% if @action.eql?('update') || @action.eql?('cancel') %>
      <tr>
        <td><%= @leave.status %> by</td>
        <td><%= @leave.status_updated_by.user_name %></td>
      </tr>
      <% if @leave.status.eql?('Unapproved') %>
        <tr>
          <td>Reason</td>
          <td><%= @leave.reason %></td>
        </tr>
      <% end %>
    <%end%>
  </tbody>
</table>
<p>Please click <%=link_to "here", admin_leave_url(@leave) %> to approve/unapprove/cancel the leave request. </p>
<p>
  Thanks,<br>
  HR Team
</p>