<p>Hello <%=@leave.user.user_name %>,</p>
<p>Your leave is still pending.</p>
<table class="table">
  <tbody>
    <%= render partial: 'leave_detail', locals: {leave: @leave} %>
    <%if @action.eql?('update') || @action.eql?('cancel')%>
      <tr>
        <td><%= @leave.status %> by</td>
        <td><%= @leave.status_updated_by.user_name %></td>
      </tr>
      <% if @leave.status.eql?('Unapproved')%>
        <tr>
          <td>Reason</td>
          <td><%= @leave.reason %></td>
        </tr>
      <% end %>
    <%end%>
  </tbody>
</table>
<p>Please click <%=link_to 'here', leave_url(@leave) %> to view/cancel the leave request. </p>
<p>
  Thanks,<br>
  HR Team
</p>