<p>Hello <%=@leave.user.user_name %>,</p>
<% if @action.eql?("create") %>
  <p>Your leave has been applied successfully.</p>
<% else %>
  <p>Your leave status has been updated successfully. </p>
<% end %>
<table class="table">
  <tbody>
    <tr>
      <td colspan="2">Leave Detail</td>
    </tr>
    <tr>
      <td>Employee name</td>
      <td><%= @leave.user.user_name %></td>
    </tr>
    <tr>
      <td>Employee Id</td>
      <td><%= @leave.user.employee_id %></td>
    </tr>
    <tr>
      <td>Placed By</td>
      <td><%= @leave.placed_by.user_name rescue '' %> (<%= @leave.placed_by.employee_id rescue '' %>)</td>
    </tr>
    <tr>
      <td>Placed Date</td>
      <td><%= @leave.created_at.strftime('%d/%m/%Y') %></td>
    </tr>
    <tr>
      <td>Leave Date</td>
      <td><%= leave_days_with_type(@leave) %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= @leave.description %></td>
    </tr>
    <tr>
      <td>Status</td>
      <td><%= @leave.status.to_s.capitalize %></td>
    </tr>
    <%if @action.eql?("update") || @action.eql?("cancel")%>
      <tr>
        <td><%= @leave.status %> by</td>
        <td><%= @leave.status_updated_by.user_name %></td>
      </tr>
      <% if @leave.status.eql?"Unapproved"%>
        <tr>
          <td>Reason</td>
          <td><%= @leave.reason %></td>
        </tr>
      <% end %>
    <%end%>
  </tbody>
</table>
<p>Please click <%=link_to "here", leave_url(@leave) %> to view/cancel the leave request. </p>
<p>
  Thanks,<br>
  HR Team
</p>