<div class="col-md-10">
  <% if action_name.eql?("edit") %>
    <div class="row">
      <div class="col-md-6">
        <% if @employee.image.present? %>
          <%= image_tag(@employee.image_url.to_s, class: 'img-circular') %><br />
        <% else %>
          <%= image_tag 'user_image.png', class: 'img-circular' %><br />
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.input :image, :value => @employee.image_url %>
      </div>
    </div>
  <% else %>
    <%= f.input :image, :value => @employee.image_url %>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :first_name %>
    </div>
    <div class="col-md-6">
      <%= f.input :last_name %>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-6">
      <%= f.input :email %>
    </div>
    <div class="col-md-6">
      <% if f.object.new_record? %>
        <%= f.input :password %>
      <%end%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :mobile %>
    </div>
    <div class="col-md-6">
      <label>Joining date</label>
      <input type="text" name="user[joining_date]" id="holiday_date" autocomplete="off" class="form-control string optional" value='<%= @employee.joining_date %>'>
    </div>
  </div>   
  <div class="row">
    <div class="col-md-6">
      <%= f.input :role, collection: [['Admin', 'admin'], ['Employee', 'employee'],['Manager','manager']] %>
    </div>
    <div class="col-md-6">
      <%= f.input :manager_id,collection: assign_managers, label_method: :second, value_method: :first %> 
    </div>
  </div> 
  <br>
  <%= f.submit f.object.id.present? ? 'Update Employee' : 'Add Employee' , class: 'btn btn-info' %>
</div>
