<div class="col-md-4">
</div>
<div class="col-md-4 col-sm-6 col-xs-6 center-panel">
  <div class="x_panel">
    <div class="x_title">
      <h2>Change my password</h2>
    <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal form-label-left input_mask' }) do |f| %>
        <div class="col-md-7 col-sm-6 col-xs-12 form-group has-feedback">
          <%= f.input :reset_password_token, :as => :hidden %>
        </div>
        <div class="col-md-11 col-sm-6 col-xs-12 form-group has-feedback">
          <%= f.input :password, label: false, placeholder: 'New password' %>
          <span class="fa fa-lock form-control-feedback right" aria-hidden="true"></span>
        </div>
        <div class="col-md-11 col-sm-6 col-xs-12 form-group has-feedback">
          <%= f.input :password_confirmation, label: false, placeholder: 'Password confirmation' %>
          <span class="fa fa-lock form-control-feedback right" aria-hidden="true"></span>
        </div>
        <div class="col-md-11 col-sm-6 col-xs-12 form-group has-feedback text-right">
          <%= link_to 'Login', new_user_session_path, class: 'btn btn-info' %>
          <%=f.submit "Change my password", class: "btn btn-info" %>
        </div>

      <% end %>
    </div>
  </div>
</div>