<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <% if user_signed_in? %>
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>
      <% else %>
      <%= link_to root_path do %>
        <%= image_tag('logo.png', class: 'logo-image')%>
      <% end %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <% if current_user.image.present? %>
              <%= image_tag current_user.image_url.to_s %><%= current_user.user_name %>
            <% else %>
              <%= image_tag 'user_image.png', class: '' %><%= current_user.user_name %>
            <% end %>
            <span class="fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li>
              <%= link_to edit_user_registration_path do %>
                Change Password <i class="glyphicon glyphicon-cog pull-right"></i>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: 'DELETE' do %>
                Log Out <i class="fa fa-sign-out pull-right"></i>
              <% end %>
            </li>
          </ul>
        </li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
     </nav>
  </div>
</div>
