<div class="row">
 <h3>Leaves (Your Leave Balance: <span class="<%= current_user.leave_balance < 0 ? 'red-balance' : 'green-balance' %>"><%=current_user.leave_balance %></span>)</h3>
 <hr>
  <div class="row">
    <div class="col-md-12">
      <% if @leaves.blank? %>
        <% if current_user.is_employee? %>
          <span>You don't have any leave histroy. </span>
        <% else %>
          <span>No Pending leave request.</span>
        <% end %>
      <% else %>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Emp Name</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Description</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead> 
          <tbody> 
            <% @leaves.each do |leave| %>
              <tr>
                <td><%= leave.user.try(:user_name) %></td>
                <td><%= leave.start_date.strftime("%d-%m-%Y") rescue '' %></td>
                <td><%= leave.end_date.strftime("%d-%m-%Y") rescue '' %></td>
                <td><%= truncate_description(leave.description) %></td>
                <td class="status"><%= leave.status %></td>
                <td><%= link_to "View", leave_path(leave) %></td>
              </tr>
            <% end %>
          </tbody>  
        </table>
      <% end %>
    </div>
  </div> 
  <div class="col-md-3">
  </div>
</div>
  <%= will_paginate @leaves, renderer: BootstrapPagination::Rails %>