<div class="row">
  <h3>Apply Leave</h3>
  <hr>
  <div class="">
    <div class="col-md-8">
      <%= simple_form_for @leave, url: leaves_path do |f| %>
        <div class="col-md-9">
          <%if params[:team_member] =="true" %>
            <label>Select Employee</label>
            <%= f.input :user_id, label: false ,collection: employee_options, label_method: :second, value_method: :first %>
          <% else %>
            <%= f.input :user_id, :as => :hidden, input_html: {value: current_user.id } %>
          <%end%>
          <% @taken_leave_days = leave_already_taken_day %>
          <% @alternate_saturdays = alternate_saturday %>
          <div>
            <%= f.collection_radio_buttons :leave_type, leave_type_options, :first, :last %>
            <p style="display: none;" class='leave_type error'>Please Select Leave Type</p>
          </div>
          <br>
          <%= month_calendar do |date| %>
            <% holiday = is_holiday(date.strftime('%d/%m/%Y')) %>
            <% taken_applied = taken_or_applied(date.strftime('%d/%m/%Y')) %>
            <% if date.sunday? %>
              <span class="day" title="Sunday"><%= date.day %></span>
            <% elsif @alternate_saturdays.include?(date.strftime('%d/%m/%Y')) %>
              <span class="day saturday-off" title="Saturday Off" ><%= date.day %></span>
            <% elsif date.past? %>
              <span class="past"><%= date.day %></span>
            <% elsif holiday.present? %>
              <span class="day holiday" title="<%= holiday.occasion %>"><%= date.day %></span>
            <% elsif @taken_leave_days.present? && taken_applied.present? %>
              <% if taken_applied.first[:type] == 'Full Day ' %>
                <span class="day taken" title="Applied/Taken"><%= date.day %></span>
              <% else %>
                <span class="day taken orange" title="Applied/Taken"><%= date.day %></span>
              <% end %>
            <% else %>
              <%= link_to date.day, 'javascript:void(0)', class: 'day', date: date  %>
            <% end %>
          <% end %>
          <%= f.input :description %>
          <label class="error description_error" style="display: none;">Description can't blank</label>
          <%= f.submit 'New Leaves', class: 'btn btn-info', id: 'save_leave'  %>
        <div class="holiday-list">
          <h5>This Month Holidays </h5>
          <ul>
            <% holidays = month_holidays(params[:start_date].present? ? Date.parse(params[:start_date]) : Time.now) %>
            <% holidays.each do |holiday|%>
              <li><%=holiday.date.day %>, <%=holiday.occasion %></li>
            <% end %>
          </ul>
        </div>
        </div>
        <div class="col-md-3">
        </div>
      <% end %>
    </div>
  </div>
</div>