<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-9">
    <table class="table">
      <tr>
        <th>Employee Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Description</th>
        <th>Status</th>
        <% if is_employee? %>
          <th>Rejection Reason</th>
        <% end %>
        <% if is_manager? %>
          <th>Action</th>
        <% end %>
      </tr>
      <tr>
        <td><%= @leave.user.user_name %></td>
        <td><%= @leave.start_date %></td>
        <td><%= @leave.end_date %></td>
        <td><%= @leave.description %></td>
        <td class="status"><%= @leave.status %></td>
        <% if is_employee? %>
          <td><%= @leave.reason %></td>
        <% end %>
        <% if is_manager? %>
          <td>
            <% if @leave.status == 'pending' %>
              <%= link_to 'Accept', leave_path(@leave.id), method: 'PUT', :remote=> true %>
              <a href="javascript:void(0)" class="accept-reject-btn reject" leave-id="<%= @leave.id %>" status="<%= @leave.status %>" >Reject</a>
            <% end %>
          </td>
        <% end %>
      </tr>
    </table>
    <%= link_to 'Back', :back, class: 'btn btn-primary' %>
  </div>
</div>
<div class="modal fade" id="reject-leave-model" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel"> Reject Leave</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3"><label>Reason</label></div>
            <div class="col-md-6">
              <textarea type="text" class="form-control reason"></textarea>
              <span class="error" style="display:none; color: #ff0009;">This feild can't be blank.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button", id="reject-save-btn" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
