<div class="col-md-4">
</div>
<div class="col-md-4 col-sm-6 col-xs-6 center-panel">
  <div class="x_panel">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { method: :post, class: 'form-horizontal form-label-left input_mask' }) do |f| %>
      <div class="x_title">
        <h2>Login</h2>
        <div class="clearfix"></div>
      </div>
      <div class=" col-md-3">
        <%= f.label :email %>
      </div>
      <div class="col-md-9">
        <div class="form-group has-feedback">
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          <span class="fa fa-envelope form-control-feedback right" aria-hidden="true"></span>
        </div>
      </div>
      <div class=" col-md-3">
        <%= f.label :password %>
      </div>
      <div class="col-md-9">
        <div class="form-group has-feedback">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          <span class="fa fa-lock form-control-feedback right" aria-hidden="true"></span>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-3">
        </div>
        <div class="col-md-9">
          <div class="form-group has-feedback">
            <% if devise_mapping.rememberable? -%>
              <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
            <% end -%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-3">
        </div>
          <div class="col-md-9">
            <div class="form-group has-feedback">
              <%= f.submit "Login", class: 'btn btn-info' %> 
              <%= link_to "Forgot your password?", new_password_path(resource_name) %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
  <div class="col-xs-3 col-md-3">
  
</div>
</div>
