<!DOCTYPE html>
<html>
<head>
  <title>Leave Management Portal - Admin </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <%= render partial: 'layouts/header'%>
      <%= render partial: 'shared/sidebar'%>
      <div class="right_col" style="min-height: 800px">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel" style="min-height: 720px">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key== 'notice' ? 'success' : 'danger' %> "><button class="close" data-dismiss="alert">x</button><%= value %></div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

