<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>Witmates Technologies - Leave Management Portal </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% favicon_link_tag 'favicon.ico'%>
</head>

<% if user_signed_in? %>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%= render partial: 'shared/sidebar'%>
        <%= render partial: 'layouts/header'%>
        <div class="right_col" style="min-height: 800px">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="min-height: 720px">
              <div class="<%= current_user.blank? ? 'col-md-12' : 'col-md-10' %>">
                <% flash.each do |key, value| %>
                  <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %>" ><button class="close" data-dismiss="alert">x</button><%= value %></div>
                <% end %>
              </div>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
<% else %>
  <body>
    <div class="container body">
        <%= render partial: 'layouts/header'%>
        <div class="right_col" style="min-height: 800px">
          <div class="<%= current_user.blank? ? 'col-md-12' : 'col-md-10' %>">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %>" ><button class="close" data-dismiss="alert">x</button><%= value %></div>
            <% end %>
          </div>
          <%= yield %>
      </div>
    </div>
  </body>
<% end %>
</html>
